In [4]:
%matplotlib inline

In [7]:
import pandas as pd 
import numpy as np 
import statistics as st 
import matplotlib.pyplot as plt

In [22]:
# Import the data 
city_data_df = pd.read_csv("Resources/city_data.csv")
ride_data_df = pd.read_csv("Resources/ride_data.csv")
ride_data_df.head(10)

                 city              date   fare       ride_id
0  Lake Jonathanshire  2019-01-14 10:14  13.83  5.739410e+12
1  South Michelleport  2019-03-04 18:24  30.24  2.343910e+12
2  Port Samanthamouth   2019-02-24 4:29  33.44  2.005070e+12
3          Rodneyfort  2019-02-10 23:22  23.44  5.149250e+12
4          South Jack   2019-03-06 4:28  34.58  3.908450e+12
5        South Latoya  2019-03-11 12:26   9.52  1.995000e+12
6       New Paulville  2019-02-27 11:17  43.25  7.932080e+11
7        Simpsonburgh   2019-04-26 0:43  35.98  1.119540e+11
8     South Karenland   2019-01-08 3:28  35.09  7.995620e+12
9       North Jasmine   2019-03-09 6:26  42.81  5.327640e+12

In [10]:
city_data_df.head(10)

            city  driver_count   type
0    Richardfort            38  Urban
1   Williamsstad            59  Urban
2    Port Angela            67  Urban
3     Rodneyfort            34  Urban
4    West Robert            39  Urban
5   West Anthony            70  Urban
6    West Angela            48  Urban
7  Martinezhaven            25  Urban
8      Karenberg            22  Urban
9    Barajasview            26  Urban

In [11]:
city_data_df.count()

city            120
driver_count    120
type            120
dtype: int64

In [12]:
city_data_df.isnull().sum()

city            0
driver_count    0
type            0
dtype: int64

In [14]:
# Determine types of data in each column 

city_data_df.dtypes

city            object
driver_count     int64
type            object
dtype: object

In [16]:
# Get the Unique data points using unique()

city_data_df["type"].unique()

array(['Urban', 'Suburban', 'Rural'], dtype=object)

In [18]:
# Obtain number of points for each type 

sum(city_data_df["type"]=="Rural")

18

In [19]:
ride_data_df.count()

city       2375
date       2375
fare       2375
ride_id    2375
dtype: int64

In [20]:
ride_data_df.isnull().sum()

city       0
date       0
fare       0
ride_id    0
dtype: int64

In [21]:
ride_data_df.dtypes

city        object
date        object
fare       float64
ride_id    float64
dtype: object

In [27]:
# Merge the two dataframes

combined_df = pd.merge(ride_data_df, city_data_df, how ='left', on =["city", "city"])

combined_df.head(10)

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14,13.83,5.739410e+12,5,Urban
1,South Michelleport,2019-03-04 18:24,30.24,2.343910e+12,72,Urban
2,Port Samanthamouth,2019-02-24 4:29,33.44,2.005070e+12,57,Urban
3,Rodneyfort,2019-02-10 23:22,23.44,5.149250e+12,34,Urban
4,South Jack,2019-03-06 4:28,34.58,3.908450e+12,46,Urban
5,South Latoya,2019-03-11 12:26,9.52,1.995000e+12,10,Urban
6,New Paulville,2019-02-27 11:17,43.25,7.932080e+11,44,Urban
7,Simpsonburgh,2019-04-26 0:43,35.98,1.119540e+11,21,Urban
8,South Karenland,2019-01-08 3:28,35.09,7.995620e+12,4,Urban
9,North Jasmine,2019-03-09 6:26,42.81,5.327640e+12,33,Urban

In [28]:
combined_df.count()

city            2375
date            2375
fare            2375
ride_id         2375
driver_count    2375
type            2375
dtype: int64